In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
music = pd.DataFrame()

music['duration'] = [184, 134, 243, 186, 122, 197, 294, 382, 102, 264, 
                     205, 110, 307, 110, 397, 153, 190, 192, 210, 403,
                     164, 198, 204, 253, 234, 190, 182, 401, 376, 102]
music['loudness'] = [18, 34, 43, 36, 22, 9, 29, 22, 10, 24, 
                     20, 10, 17, 51, 7, 13, 19, 12, 21, 22,
                     16, 18, 4, 23, 34, 19, 14, 11, 37, 42]

music['jazz'] = [ 1, 0, 0, 0, 1, 1, 0, 1, 1, 0,
                  0, 1, 1, 0, 1, 1, 0, 1, 1, 1,
                  1, 1, 1, 1, 0, 0, 1, 1, 0, 0]

In [3]:
#calculating the distance for each datapoint

#test duration value
x = 190
#test loudness value
y = 24

music['distance'] = np.sqrt((x - music['duration'])**2 + (y - music['loudness'])**2)

In [4]:
#finding prediction value
prediction = music.loc[music.distance == music['distance'].min(), 'jazz']

print("Jazz Prediction Value:\n{}".format(prediction))

Jazz Prediction Value:
16    0
25    0
Name: jazz, dtype: int64

In [5]:
music.sort_values(by=['distance'])

    duration  loudness  jazz    distance
16       190        19     0    5.000000
25       190        19     0    5.000000
0        184        18     1    8.485281
21       198        18     1   10.000000
17       192        12     1   12.165525
3        186        36     0   12.649111
26       182        14     1   12.806248
10       205        20     0   15.524175
5        197         9     1   16.552945
18       210        21     1   20.223748
22       204         4     1   24.413111
20       164        16     1   27.202941
15       153        13     1   38.600518
24       234        34     0   45.122057
2        243        43     0   56.302753
1        134        34     0   56.885851
23       253        23     1   63.007936
4        122        22     1   68.029405
9        264        24     0   74.000000
11       110        10     1   81.215762
13       110        51     0   84.433406
8        102        10     1   89.106678
29       102        42     0   89.822046
6        294        29     0  104.120123
12       307        17     1  117.209215
28       376        37     0  186.453748
7        382        22     1  192.010416
14       397         7     1  207.696895
27       401        11     1  211.400095
19       403        22     1  213.009389