In [1]:
#Initializing
%matplotlib inline
import numpy as np
import pandas as pd
import scipy
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Import the raw data.
df = pd.read_csv('/Users/Kevin/Files/Thinkful/Data Files/NEW_YORK-Offenses_Known_to_Law_Enforcement_by_City_2013 - 13tbl8ny.csv', skiprows = 4)

In [1]:
#df.head()

In [4]:
#stripping column names of spaces to be referenced
df.columns.str.strip()

Index(['City', 'Population', 'Violent\ncrime',
       'Murder and\nnonnegligent\nmanslaughter',
       'Rape\n(revised\ndefinition)1', 'Rape\n(legacy\ndefinition)2',
       'Robbery', 'Aggravated\nassault', 'Property\ncrime', 'Burglary',
       'Larceny-\ntheft', 'Motor\nvehicle\ntheft', 'Arson3'],
      dtype='object')

In [5]:
#Robbery column is 'non-null object type' need to change into float type later to conditionally evaluate. 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 351 entries, 0 to 350
Data columns (total 13 columns):
City                                    351 non-null object
Population                              348 non-null object
Violent
crime                           348 non-null object
Murder and
nonnegligent
manslaughter    348 non-null float64
Rape
(revised
definition)1              0 non-null float64
Rape
(legacy
definition)2               348 non-null object
Robbery                                 348 non-null object
Aggravated
assault                      348 non-null object
Property
crime                          348 non-null object
Burglary                                348 non-null object
Larceny-
theft                          348 non-null object
Motor
vehicle
theft                     348 non-null object
Arson3                                  187 non-null float64
dtypes: float64(3), object(10)
memory usage: 35.7+ KB

In [6]:
#creating population feature
df['Population2'] = df['Population'] ** 2

In [8]:
#creating murder feature
df['Murder'] = np.where(df['Murder and\nnonnegligent\nmanslaughter'] > 0, 1, 0)

In [11]:
#replace commas in numbers - substep for creating robbery feature
df.Robbery = df.Robbery.str.replace(',', '')

In [12]:
#replacing empty strings and converting column into float - substep for creating robbery feature
df['Robbery']=df.Robbery.replace('',np.nan).astype(float)

In [13]:
#creating robbery feature
df['Robbery_2'] = np.where(df['Robbery'] > 0, 1, 0)

In [14]:
df.head()

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson3,Population2,Murder,Robbery_2
0,Adams Village,"1,861",0,0.0,NaN,0,0.0,0,12,2,10,0,0.0,"1,8611,861",0,0
1,Addison Town and Village,"2,577",3,0.0,NaN,0,0.0,3,24,3,20,1,0.0,"2,5772,577",0,0
2,Akron Village,"2,846",3,0.0,NaN,0,0.0,3,16,1,15,0,0.0,"2,8462,846",0,0
3,Albany,"97,956",791,8.0,NaN,30,227.0,526,"4,090",705,"3,243",142,NaN,"97,95697,956",1,1
4,Albion Village,"6,388",23,0.0,NaN,3,4.0,16,223,53,165,5,NaN,"6,3886,388",0,1